.search-bar {
    display: flex;
    background-color: #1E123B;
    border: #FCFCFC 2px solid;
    border-radius: 7.72px;
    height: 42px;
    width: 308px;
    color: #FCFCFC;
    text-align: end;
    justify-content: space-between;
    align-items: center;
}

.search-field {
    background-color: #1E123B;
    height: 40px;
    border-radius: 7.72px;
    color: #FCFCFC;
    text-align: end;
    border: none;
    padding-right: 12px;
}

.search-field:focus {
    border: 1px solid #1E123B;
}

.button {
    background-image: url(../../assets/icons/lupa.png);
    width: 18px;
    height: 18px;
    background-color: #1E123B;
    border: none;
    margin-left: 12px;
}