@font-face {
  font-family: LatoBold;
  src: url(./assets/Lato/Lato-Bold.ttf);
}


.App {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #8758FF;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}


/* Form CSS */


.Form-Container {
  display: flex;
  background-color: #1E123B;
  width: 743.81px;
  height: 495.36px;
  border-radius: 7.72px;
  flex-direction: column;
  align-items: center;
}

.Text {
  margin-top: 40px;
  font-family: LatoBold;
  color: #FCFCFC;
  font-size: 24.69px;
}

.Text-Purple {
  color: #8758FF;
  font-size: 30px;
}